[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.home-box-width {
  max-width: 300px;
}
.day.blue, md-list-item.day.blue button.md-button:not([disabled]):hover {
  background: #80d8ff; 
}
.day.green, md-list-item.day.green button.md-button:not([disabled]):hover {
  background: #b9f6ca; 
}
.day.red, md-list-item.day.red button.md-button:not([disabled]):hover {
  background: #ff8a80; 
}
.day-list md-list-item {
  background-color: white; /* avoid day bg color being applied to list */
}
.content-title {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
.content-title h2, .content-title h3, .content-title h4 {
  margin: 0px;
}
.content-view {
  max-width: 550px
}
.exercise img {
  width: 100%;
}
.exercise h3 {
  margin: 0; /* avoid extra space around exercise title */
}