[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.home-box-width {
  max-width: 300px;
}
.day.blue, md-list-item.day.blue button.md-button:not([disabled]):hover {
  background: #80d8ff; 
}
.day.green, md-list-item.day.green button.md-button:not([disabled]):hover {
  background: #b9f6ca; 
}
.day.red, md-list-item.day.red button.md-button:not([disabled]):hover {
  background: #ff8a80; 
}
.exercise img {
  width: 100%;
}
.exercise h3 {
  margin: 0; /* avoid extra space around exercise title */
}