<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Gym Workout Program</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="http://gitcdn.xyz/repo/angular/bower-material/v0.10.1/angular-material.css"/>
    <link rel="stylesheet" href="./app.css"/>
  </head>
  <!-- 
  Layout from https://material.angularjs.org
  Icons (SVG) from https://materialdesignicons.com/
  -->
  
  <body ng-app="gymApp" ng-controller="AppController" ng-cloak="">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-fab md-primary" aria-label="Menu or Back" ng-click="view==='day'?navBack():toggleLeft()">
          <md-icon md-svg-icon="menu" ng-hide="view==='day'"></md-icon>
          <md-icon md-svg-icon="back" ng-show="view==='day'"></md-icon>
        </md-button>
        <h2>
          <span>Gym</span>
        </h2>
        <span flex=""></span>
        <md-button class="md-icon-button" aria-label="Star" ng-click="showToday()">
          <md-icon md-svg-icon="star"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
  
    <section layout="row" flex="">
    
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-list>
          <md-list-item ng-click="showHome()">
            <p>Home</p>
            <md-divider></md-divider>
          </md-list-item>
          <md-list-item ng-repeat="week in weeks" ng-click="showWeek(week)">
            <p>Week {{week.id}}</p>
            <md-icon md-svg-icon="star" ng-show="today.week.id===week.id"></md-icon>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-sidenav>
    
      <md-content class="home md-padding" ng-if="view==='home'">
        <div layout="column">
          <md-whiteframe class="md-whiteframe-z1 home-box-width day" layout-padding="" ng-if="today.week&&today.day"
              ng-click="showToday()" ng-class="getDayTypeColor(today.day.type)">
            <md-icon md-svg-icon="star"></md-icon>
            <div>Today is: {{currentDate | date:'fullDate'}}</div>
            <div>Week {{today.week.id}} Day {{today.day.id}}</div>
          </md-whiteframe>
          <md-whiteframe class="md-whiteframe-z1 home-box-width" layout-padding="" ng-if="!(today.week&&today.day)">
            <md-icon md-svg-icon="star"></md-icon>
            <div>Today is: {{currentDate | date:'fullDate'}}</div>
            <div>Nothing scheduled today</div>
          </md-whiteframe>
          <md-whiteframe class="md-whiteframe-z1 home-box-width" layout-padding="">
            <md-input-container>
              <label>Week 1 began on:</label>
              <input type="date" ng-model="startDate" ng-change="changeStartDate()" placeholder="yyyy-MM-dd"/>
            </md-input-container>
          </md-whiteframe>
        </div>
      </md-content>
  
      <md-content class="week md-padding" ng-if="view==='week'">
        <md-list>
          <md-list-item ng-repeat="day in week.days" class="day md-3-line" ng-class="getDayTypeColor(day.type)" ng-click="showDay(day)">
            <div class="md-list-item-text">
              <md-icon md-svg-icon="star" ng-show="today.week.id===week.id&&today.day.id===day.id"></md-icon>
              <h3 ng-class="{'today':(today.week.id===week.id&&today.day.id===day.id)}">
              Day {{day.id}} - {{day.date | date:'fullDate'}}</h3>
              <h4>{{getDayTypeName(day.type)}}</h4>
              <p>{{day.desc}}</p>
            </div>
            <md-icon md-svg-icon="{{getDayTypeIcon(day.type)}}"></md-icon>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-content>

      <md-content class="day md-padding" ng-if="view==='day'">
        <md-list>
          <md-list-item ng-repeat="exercise in day.exercises" class="md-3-line" ng-click="showExercise(exercise.id, $event)">
            <div class="md-list-item-text">
              <h3><span>{{exercise.name}}</span> <span ng-show="exercise.id">({{exercise.id}})</span></h3>
              <h4>
                <span ng-show="exercise.sets">{{exercise.sets}}</span> <span>x</span>
                <span ng-show="exercise.reps">{{exercise.reps}}</span>
                <span ng-show="exercise.time">{{exercise.time}}</span>
                <span ng-show="exercise.tofail">(TO FAIL)</span>
              </h4>
              <p>{{exercise.notes}}</p>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
      
    </section>
    
    <script type="text/ng-template" id="dialog.html">
      <md-dialog>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2>Exercise {{exerciseId}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
              <md-icon md-svg-icon="close" aria-label="Close"></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px;">
          <div class="exercise">
            <h3>{{exercise.name}}</h3>
            <p>{{exercise.desc}}</p>
            <div ng-repeat="image in getExerciseImages(exerciseId)">
              <img ng-src="./img/exercises/{{image}}.jpg" />
            </div>
          </div>
        </md-dialog-content>
      </md-dialog>
    </script>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-aria.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-messages.min.js"></script>
    <script type="text/javascript" src="http://gitcdn.xyz/repo/angular/bower-material/v0.10.1/angular-material.js"></script>

    <script type="text/javascript" src="./exercises.js"></script>
    <script type="text/javascript" src="./app.js"></script>

  </body>
</html>